* {
				margin: 0; padding: 0;
}

body {
				background-image: url('https://dl.dropbox.com/s/x7xrp82cre3ugiy/tardis.jpg?dl=0');
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: 100% 100%;
				color: white;
				font-size: 3vw;
}

nav {
				background-color: #020C89;
				padding: 25px;
}

h1 {
				margin: 40px;
}

a {
				padding-right: 25px;
				color: white;
				text-decoration: none;
}

a:hover {
				text-decoration: underline;
}

img {
				max-width: 350px;
				max-height: 400px;
				margin-bottom: 30px;
}

div {
				text-align: center;
}

p {
				margin: 20px;
				text-align: justify;
}

details {
				margin-left: 10px;
}

form {
				text-align: center;
}

input {
				height: 7vw;
				width: 90vw;
				color: white;
}

textarea {
				width: 90vw;
				height: 60vw;
				color: white;
}

#nome {
				margin-bottom: 5px;
}

